body {
}

#mainPage {
  background:url(../../assets/img/wine.jpeg) no-repeat;
  background-size:cover;
  height:600px;
  /*height:100%;*/
  /*width:100%;*/
}

#mainPage .jumbotron {
  border-radius:20px;
  padding:40px;
  background-color:rgba(255, 255, 255, 0.75);
  max-width:800px;
  margin:0 auto;
  margin-top:150px;
  height: 250px;
}

h1{
  color: #841b2a;
}

#mainPage {
  text-align:center;
  padding:200px;
}


.jumbotron {
  padding:20px;
}

@media (min-width: 576px) {
  #mainPage {
    padding:20px;
  }
}

@media (min-width: 300px) {
  #mainPage {
    padding:20px;
  }
}



footer {
  background-color:#292c2f;
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width:100%;
  text-align:left;
  font:bold 16px sans-serif;
  padding:55px 50px;
  margin-top:80px;
  bottom:0;
  color:#fff;
}

.footer-navigation h3 {
  margin:0;
  font:normal 36px Cookie, cursive;
  margin-bottom:20px;
  color:#fff;
}

.footer-navigation h3 a {
  text-decoration:none;
  color:#fff;
}

.footer-navigation h3 span {
  color:#5383d3;
}

.footer-navigation p.links a {
  color:#fff;
  text-decoration:none;
}

.footer-navigation p.company-name {
  color:#8f9296;
  font-size:14px;
  font-weight:normal;
  margin-top:20px;
}

@media (max-width:767px) {
  .footer-contacts {
    margin:30px 0;
  }
}

.footer-contacts p {
  display:inline-block;
  color:#ffffff;
  vertical-align:middle;
}

.footer-contacts p a {
  color:#5383d3;
  text-decoration:none;
}

.fa.footer-contacts-icon {
  background-color:#33383b;
  color:#fff;
  font-size:18px;
  width:38px;
  height:38px;
  border-radius:50%;
  text-align:center;
  line-height:38px;
  margin:10px 15px 10px 0;
}

span.new-line-span {
  display:block;
  font-weight:normal;
  display:block;
  font-weight:normal;
  font-size:14px;
  line-height:2;
}

.footer-about h4 {
  display:block;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  margin-bottom:20px;
}

.footer-about p {
  line-height:20px;
  color:#92999f;
  font-size:13px;
  font-weight:normal;
  margin:0;
}

div.social-links {
  margin-top:20px;
  color:#fff;
}

.social-links a {
  display:inline-block;
  width:35px;
  height:35px;
  cursor:pointer;
  background-color:#33383b;
  border-radius:2px;
  font-size:20px;
  color:#ffffff;
  text-align:center;
  line-height:35px;
  margin-right:5px;
  margin-bottom:5px;
}



.navigation-clean {
  background:#fff;
  padding-top:.75rem;
  padding-bottom:.75rem;
  color:#333;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
  

}

@media (min-width:768px) {
  .navigation-clean {
    padding-top:1rem;
    padding-bottom:1rem;
  }
}

.navigation-clean .navbar-brand {
  font-weight:bold;
  color:#853060;
}

.navigation-clean .navbar-brand:hover {
  color:#853060;
}

.navigation-clean .navbar-toggler {
  border-color:#ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background:none;
}

.navigation-clean .navbar-toggler {
  color:#888;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color:#ddd;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color:#8f8023;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left:18px;
  padding-right:18px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color:#8f8023;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color:#37434d !important;
  background-color:transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:none;
  background-color:#fff;
  border-radius:2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height:2;
  color:#37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background:#eee;
  color:inherit;
}




.search-form {
  margin:40px 5px;
  font:normal 12px sans-serif;
  box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
 /* height: 60px;*/
}

.search-form div.input-group-addon {
  background:#fff;
  color:#80A3BD;
  border-bottom-left-radius:2px;
  border-top-left-radius:2px;
  border:1px solid #b6c3cd;
  border-right:0;
}

.search-form .input-group input {
  background-color:#ffffff;
  box-shadow:none;
  color:#841b2a;
  outline:none;
  border:1px solid #b6c3cd;
  border-right:0;
  border-left:0;
}

.search-form div.input-group-btn button {
  border-bottom-right-radius:2px;
  border-top-right-radius:2px;
  background:#8f8023;
  box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color:#ffffff;
  border-color:#8f8023;
  outline:none;
  opacity:0.9;
}

.search-form div.input-group-btn button:hover {
  opacity:1;
}

.search-form div.input-group-btn button:focus:active {
  background-color:#6caee0;
  color:#ffffff;
  outline:none;
}

.list-inline {
  text-align:center;
}






@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';
* {
    margin: 0;
    padding: 0;
}

/*body {
    background: #ffc185;
}*/

.container{
    /*position:absolute;*/
   /* width: auto;*/
    height:auto;
    top: calc(50% - 240px);
    left: calc(50% - 160px);
}

#mySignInForm {
    position: absolute;
    text-align: center;
    background: #fff;
    width: 310px;
    height: 470px;
    border-radius: 5px;
    padding: 30px 20px 0 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    margin-left: 70px;
    top:80px;
}

#mySignInForm-2{


}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 12px;
    color: #3b3b3b;
    margin-bottom: 40px;
}

p > span {
    padding-top: 3px;
    display: block;
    font-weight: 400;
    font-size: 9px;
}

h3 {
    font-family: 'Dosis';
    font-size: 35px;
    text-transform: uppercase;
    color: #3b3b3b;
    margin-bottom: 30px;
}

input,
button{
    outline: none !important; 
}

/*button.fb {
    border: none;
    background: #3b5998;
    width: 160px;
    height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #29487d;
    cursor: pointer;
    margin-bottom: 20px;
    transition:all 0.3s linear;
}
button.fb:hover {
    background: #fff;
    color: #3b5998;
}
*/
button.form-btn {
    position: absolute;
    width: 50%;
    height: 60px;
    bottom: 0;
    border: 0;
    font-family: 'Dosis';
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

button.form-btn.sx {
    left: 0;
    border-radius: 0 0 0 5px;
    background-color: rgba(85, 35, 41, 0.35);
    color: #fff;
    transition:all 0.3s linear;
}

button.form-btn.sx:hover {
    background-color:rgba(144, 47, 55, 0.65);
    color: #fff;
}

button.form-btn.sx.back {
    background-color: rgba(0, 0, 0, 0.15);
    transition:all 0.3s linear;
}

button.form-btn.sx.back:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

button.form-btn.dx {
    right: 0;
    border-radius: 0 0 5px 0;
    background-color: #552329;
    color: #fff;
}

input {
    border: none;
    border-bottom: 1px solid #9e934d;
    width: 85%;
    font-family: 'Roboto';
    color: #3b3b3b;
    text-align: center;
    font-size: 21px;
    font-weight:100;
    margin-bottom:25px;
}

::-webkit-input-placeholder {
   color: #790000;
    font-family: 'Roboto';
    font-weight:100;
}

:-moz-placeholder {
   color: #ffc185;  
    font-family: 'Roboto';
    font-weight:100;
}

::-moz-placeholder {
   color: #ffc185;  
    font-family: 'Roboto';
    font-weight:100;
}

:-ms-input-placeholder {  
   color: #ffc185; 
    font-family: 'Roboto';
    font-weight:100;
}

.signIn input,
.signUp .w100 {
    width: 100%;
}

.signIn{
        z-index: 1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        opacity: 0.5;
}

.signUp {
    z-index: 2;

}

.active-dx{
    animation-name: foregrounding-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.active-sx{
    animation-name: foregrounding-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.inactive-dx{
    animation-name: overshadowing-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.inactive-sx{
    animation-name: overshadowing-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

@keyframes overshadowing-dx {
    0%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100%{
        z-index: 1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        opacity: 0.5;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
}

@keyframes overshadowing-sx {
    0%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100%{
        z-index: 1;
        transform: perspective(100px) translate3d(-100px, 0px, -30px);
        opacity: 0.5;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
}

@keyframes foregrounding-dx {
    0%{
        z-index:1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        opacity: 0.5;
    }
    50%{
        z-index:2;
        transform: perspective(100px) translate3d(400px, 0px, -30px);
    }
    100%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes foregrounding-sx {
    0%{
        z-index:1;
        transform: perspective(100px) translate3d(-100px, 0px, -30px);
        opacity: 0.5;
    }
    50%{
        z-index:2;
        transform: perspective(100px) translate3d(-400px, 0px, -30px);
    }
    100%{
        z-index:2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}


.welcome{
font-family: 'Dosis';
    font-size: 25px;
    text-transform: uppercase;
    color: #3b3b3b;
    margin-bottom: 30px;

  
}

.modal-content{
  border: none;
}

#mySignInForm{
  position: absolute;
    text-align: center;
    background: #fff;
    width: 310px;
    height: 470px;
    border-radius: 5px;
    padding: 30px 20px 0 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
margin-left: 70px;

    z-index: 1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        

}

#mySignUpForm{
 position: absolute;
    text-align: center;
    background: #fff;
    width: 310px;
    height: 470px;
    border-radius: 5px;
    padding: 30px 20px 0 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    margin-left: 70px;
    top:80px;

}



#signInBtn{
   /*right: 0;*/
   margin-left: 100px;
    border-radius: 0 0 5px 0;
    background-color: #552329;
    color: #fff;
}

button.fb {
    border: none;
    background: #3b5998;
    width: 278px;
    height: 37px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #29487d;
    cursor: pointer;
    margin-bottom: 20px;
    transition:all 0.3s linear;
}
button.fb:hover {
    background: #fff;
    color: #3b5998;
}

 #signInBtn-2 {
    position: absolute;
    width: 50%;
    height: 60px;
    bottom: 0;
    border: 0;
    font-family: 'Dosis';
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

button.form-btn.sx {
    left: 0;
    border-radius: 0 0 0 5px;
    background-color: rgba(85, 35, 41, 0.35);
    color: #fff;
    transition:all 0.3s linear;
}

button.form-btn.sx:hover {
    background-color:rgba(144, 47, 55, 0.65);
    color: #fff;
}

button.form-btn.sx.back {
    background-color: rgba(0, 0, 0, 0.15);
    transition:all 0.3s linear;
}

button.form-btn.sx.back:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

button.form-btn.dxx {
  left:90px;
  top:450px;
   /* right: 0;*/
    border-radius: 0 0 5px 0;
    background-color: #552329;
    color: #fff;
}



.inputEmail {
    border: none;
    border-bottom: 1px solid #9e934d;
    width: 85%;
    font-family: 'Roboto';
    color: #3b3b3b;
    text-align: center;
    font-size: 21px;
    font-weight:100;
    margin-bottom:25px;
}

.inputPassword{
   border: none;
    border-bottom: 1px solid #9e934d;
    width: 85%;
    font-family: 'Roboto';
    color: #3b3b3b;
    text-align: center;
    font-size: 21px;
    font-weight:100;
    margin-bottom:25px;
}

.or{
  font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 20px;
    color: #3b3b3b;
    margin-bottom: 40px;
}

button.form-btn.dxxx {
  left:81px;
  top:390px;
   /* right: 0;*/
    border-radius: 0 0 5px 0;
    background-color: #552329;
    color: #fff;
}

#mySignUpForm-2{
position: absolute;
    text-align: center;
    background: #fff;
    width: 410px;
    height: 570px;
    border-radius: 5px;
    padding: 30px 20px 0 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
margin-left: -37px;

    z-index: 1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);

}

#mySignInForm-2{
  position: absolute;
    text-align: center;
    background: #fff;
    width: 410px;
    height: 570px;
    border-radius: 5px;
    padding: 30px 20px 0 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
margin-left: -37px;

    z-index: 1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        
        

}

